################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ankieter/v15
/Ankieter/obj
/Ankieter/wwwroot/lib
/Ankieter/bin/Debug/netcoreapp2.0
/.vs/config
