@model Ankieter.Models.Views.Forms.FormDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" asp-append-version="false"></script>
<script src="~/js/Form/formItemService.js" asp-append-version="true"></script>
<script src="~/js/Form/formGeneratorController.js" asp-append-version="true"></script>

<h2>Submit your questionare</h2>

<div ng-app="myApp" class="row">
    <input id="_hiddednJsonStructure" type="hidden" value='@Json.Serialize(Model)' />
    <input id="previewFlag" type="hidden" value="false"/>
    @await Html.PartialAsync("FormGeneratorTemplate")
</div>
