.spliter-right {
    border-right: 1px dashed #333;
}
.spliter-down {
    border-bottom: 1px dashed #333;
}
.spliter-top {
    border-top: 1px dashed #333;
}

.padding-top-5 {
    padding-top: 5px;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}

.placeholder-5 {
    -ms-opacity: 0;
    opacity: 0;
    height: 5px;
    min-height: 5px;
    max-height: 5px;
}

.fa-add {
    color: whitesmoke;
}

.btn:focus {
    outline: none;
}

.toolkitButton {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
}